.page-timebit-all-logs {
  form#timebit-model-ui-reports-page-filter-form {

    .form-submit,
    .form-type-select.form-item-uid,
    .container-inline-date {
      float: left;
      clear: none;

    }

    .form-type-select.form-item-uid {
      margin-top: 2em;
    }

    .form-submit {
      margin: 2em 0 0 2em;
    }
  }

  .summary{
    .summary-item {
      border-bottom: 1px solid $color2;
      padding: 1em 0;
      span.user-name {
        display: inline-block;
        width: 150px;
      }
      span.user-time {
        display: inline-block;
        text-align: right;
        width: 150px;
      }
    }
  }

  .add-link{
    clear: both;
    float: left;
    width: 100%;
  }
}