// Non-modular or client styles for the .l-content region.

.l-main {}

.node {}
.body {}
.image {}
.breadcrumb {}

.not-logged-in.no-sidebars.page-frontpage {
  background: $blue-1;
 .top-bar .title-area{
    float: none;
    width: 100%;
  }
  header {
    text-align: center;

  }

  nav .top-bar-section{
    display: none;
  }

  #login-block{
    width: 300px;
    margin: auto;
    background: white;
    padding: 2em;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  main > div form{

  }

  main {
     min-height: 1000px;
    background: none repeat scroll 0 0 $blue-1;;
  }
}
